header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2vh;
  padding: 1rem 0;

  h1 {
    margin: 0;
    font-size: 3rem;
  }

  p {
    margin: 0;
    font-size: 1.375rem;
    text-align: center;
  }

  svg {
    width: 5rem;
    height: 5rem;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.125rem;
    }

    svg {
      width: 4rem;
      height: 4rem;
    }
  }
}
